/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #393760;
}

.video-list video {
    width: 100% !important;
    height: 100% !important;
  } 

  .video-item {
    border-radius: 12px;
    overflow: hidden;
  }
  
  .video-list {
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 25px;
  }

  @media (max-width: 900px) {
    .video-list {
        gap: 10px;
        display: block !important;
      }
  }